.apti-explorer {
  min-width: 25%;
  border-right: 1px  solid rgba(43,55,80,.7);
  height: 92vh;
background-color: #1d1e23;

}

.apti-type {
  border-bottom: 1px solid #666;
}
.apti-type-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5%;
  border-bottom: 1px  solid rgba(43,55,80,.7);
  color: #5780b0;
  text-transform: capitalize;
  padding: 10px 20px;
  padding-left: 8px;
}

.apti-type-heading:hover {
  background-color: #00000055;
}

.explorer-button {
  background: transparent;
  border: none;
  color: #5780b0;
  font-size: 30px;
}

.apti-categary-header {
  padding: 10px 20px;
  border-bottom: 1px solid #555;
  cursor: pointer;
  padding-left: 15%;
  /* color: #5780b0; */
}

.apti-categary-header.highlight-apti-cat{
  background-color: #ffffff33;
}
.apti-categary-header:hover {
  background-color: #ffffff33;
}
.apti-categary-header > h3 {
  display: flex;
  gap: 5%;
}

.apti-vs-container {
  display: flex;
  gap: 2%;
}
.apti-question-container {
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid #555;
  border: 1px solid rgba(43,55,80,.7);
  flex: 1;
  background-color: #1d1e23;
}

@keyframes slow-drop-down {
  0% {
    height: 0;
  }
  100% {
    height: 20px;
  }
}

.apti-question {
  padding: 5%;
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.apti-question h1{
  color: #5780b0;
}
.apti-option-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.apti-option {
  display: flex;
  gap: 5%;
}

.answer-section {
  padding: 20px;
}

.answer {
  font-weight: 700;
}

span.green {
  font-weight: 700;
  color: rgb(64, 171, 95);
}
.buttons {
  display: flex;
  gap: 10px;
}

button.fixed-right-bottom {
  border-radius: 5px;
  margin-left: 5%;
  align-self: flex-end;
}

.aptitude{
  background-color: rgb(36, 38, 44);
  border-top: 1px solid rgba(43,55,80,.7);
}

.apti-top-headers{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 20px;
  font-weight:900;
}
.no-question-selected{
  padding: 5%;
  display:block;
  gap: 20px;
  height:630.600px; 
  color:var(--font-color);
 }
