body {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.navbar {
  border-bottom: 1px solid black;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid black;
}
.problemSet {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border: 1px solid black;
}
