:root {
  --primary-color: #1c1917;
  --secondary-color: #292524;
  --tertiary-color: #44403c;
  --border-color: #78716c;
  --highlight-color: #d6d3d1;
  --font-color: #f5f5f4;
  --home-hero-bg: #fff;
  --home-exp-bg: #000;
  --editor-config-select:#1e1e1e;
  /* --primary-color: #171717;
  --secondary-color: #262626;
  --tertiary-color: #404040;
  --border-color: #737373;
  --highlight-color: #d4d4d4;
  --font-color: #f5f5f5; */

  /* --primary-color: #18181b;
  --secondary-color: #27272a;
  --tertiary-color: #3f3f46;
  --border-color: #71717a;
  --highlight-color: #d4d4d8;
  --font-color: #f4f4f5; */
}
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@100;200&family=Source+Sans+3:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&display=swap");
.light-mode {
  --primary-color: #f5f5f4;
  --secondary-color: #d6d3d1;
  --tertiary-color: #78716c;
  --border-color: #44403c;
  --highlight-color: #292524;
  --font-color: #1c1917;
  --home-hero-bg: #000;
  --home-exp-bg: #fff;
  --editor-config-select:#eee;

}

* {
  box-sizing: border-box;
  margin: 0;
  scrollbar-color: orange green;
}

::-webkit-scrollbar {
  width: 12px;
  background: var(--tertiary-color);
}

/* Style the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: var(--border-color);
  width: 10px;
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--primary-color);
  color: var(--font-color);
  transition: background-color 500ms linear;
  font-size: 19px;
  font-family: poppins;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
}

ul.navbar-list {
  position: sticky;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  /* border-bottom: 0.5px solid var(--border-color); */
  animation: slide-in 0.5s ease-in-out;
  padding: 10px 5px;
  z-index: 2;
}

ul.navbar-list.Black-bg {
  background-color: var(--home-exp-bg);
}
ul.navbar-list.apti-color{
  background-color: #1d1e23;
}
ul.navbar-list.no-animation {
  animation: none;
}

ul.navbar-list li a {
  font-weight: 600;
  display: flex;
  color: var(--font-color);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

ul.navbar-list li a:hover:not(.active-navbar-elements) {
  border-bottom: 2px solid var(--border-color);
}

.active-navbar-elements {
  border-bottom: 2px solid var(--tertiary-color);
  font-weight: 700;
}

.switch-theme-icon {
  width: 1.5rem;
  cursor: pointer;
}

.drop-down-profile-info {
  background-color: #737373;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.4rem 0.2rem;
  border-radius: 5px;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 6;
  animation: smooth-appear 250ms ease-in-out;
}

@keyframes smooth-appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.drop-down-profile-info > h3 {
  text-align: center;
  font-size: 2rem;
}

.drop-down-profile-info > div.log-out-profile {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: var(--secondary-color);
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  width: 100%;
  padding: 2px 10px;
}

div.log-out-profile:hover {
  background-color: var(--tertiary-color);
  color: var(--highlight-color);
}

div.log-out-profile > img {
  width: 1rem;
}

.profile-icon-div {
  width: 2rem;
  padding: auto 1px;
}

.profile-icon-div > img {
  fill: var(--font-color);
  cursor: pointer;
}
@keyframes slide-in {
  0% {
    top: -30%;
  }
  100% {
    top: 0%;
  }
}

.footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--home-exp-bg);
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}

.display-none {
  display: none !important;
  visibility: hidden !important;
}
.display-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.split-pane-layoutCSS {
  height: 100%;
}
.react-split {
  padding-left: 0.4%;
  padding-bottom: 0.4%;
}
/* .react-split__pane:nth-child(1) {
  padding-top: 0.4%;
} */
.problemSet {
  height: max-content;
  display: flex;
  flex-direction: column;
}

.loading-problems,
.loading-q-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.problem-config-selects >select{
  border: none;
  background-color: transparent;
  color: var(--font-color);
}
.problem-config-selects >select > option{
  background-color: var(--primary-color);

}
div.loading-q-container > div.loading-quetion-animate.question {
  height: 2.5rem;
  padding: 0.5rem;
  width: 100%;
  animation: loading-q 2s infinite ease-in-out;
}

@keyframes loading-q {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.question {
  display: flex;
  justify-content: space-between;
  gap: 20%;
  padding: 10px 50px;
  transition: ease-in-out;
  cursor: grab;
  font-weight: 500;
}

.question:nth-child(2n + 1) {
  background-color: var(--secondary-color);
}

.question:hover {
  background-color: var(--tertiary-color);
}

.easy,
.medium,
.hard {
  font-weight: 600;
}
.easy {
  color: #39c56c;
}

.medium {
  color: #facc15;
}

.hard {
  color: #ef4444;
}
.problemset-table-titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--font-color);
  padding: 10px 40px;
  background-color: var(--secondary-color);
  color: var(--highlight-color);
  font-weight: 600;
}
.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.increase,
.decrease {
  cursor: pointer;
}

.increase::before {
  content: "^ ";
}

.decrease::before {
  content: "v ";
}

.flex-row {
  display: flex;
}

.description-submission-container {
  box-sizing: border-box;
  height: 100%;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  color: var(--font-color);
  border-radius: 5px;
  word-wrap: break-word;
}

.editor-testresult {
  overflow-y: auto;
  background-color: var(--tertiary-color);
  height: 100%;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: wrap;
}

.problem-info {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 93%;
  gap: 5%;
}

.problem-info > * {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.problem-title {
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  margin-bottom: 0;
  padding-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.problem-descrption {
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.problem-overview {
  /* font-family: "Manrope"; */
  font-size: 1rem;
  font-weight: 500;
  line-height: 2rem;
}

.examples {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.examples h4 {
  font-size: 1.2rem;
  font-weight: 600;
}

.example-overview {
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  padding-left: 0.8rem;
  font-size: 0.9rem;
}

.coding-interface {
  padding: 0.3rem;
  min-width: 750px;
  height: 90vh;
}

.back-svg {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  height: 100%;
}

.back-svg:hover {
  transform: scale(1.1);
}

.back-svg img {
  width: 1.3rem;
}
.coding-interface-navbar {
  background-color: var(--secondary-color);
  padding: 3px 8px;
  border-radius: 5px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navabar-login {
  padding: 5px 10px;
  background-color: var(--highlight-color);
  color: var(--primary-color);
  font-weight: 800;
  border-radius: 5px;
}

.editor-testcases-container {
  border-radius: 5px;
}

.monaco-editor-container {
  width: 100%;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 5px;
  padding-bottom: 2%;
  min-height: 350px;
}

.editor-config-selects {
  display: flex;
  z-index: 3;
  height: 8%;
  padding: 4px 10px;
  background-color: var(--editor-config-select);
}

.editor-config-selects > select,
.editor-config-selects > div {
  background-color: transparent;
  color: var(--border-color);
  padding: 2px;
  margin-left: 10px;
  border: none !important;
  outline: none !important;
}
.editor-config-selects > select > option{
  background-color: var(--secondary-color);
}

.result-test-case-container {
  padding: 1rem;
  height: 100%;
  border-radius: 5px;
  background-color: var(--secondary-color);
  border: 1px solid var(--tertiary-color);
}

.editor-container {
  height: 100%;
}

.highlight-border {
  border: 1px solid var(--border-color) !important;
}
.output-section-container {
  overflow-y: auto;
  height: 80%;
  width: 100%;
  border-radius: 3px;
  padding: 2px 0;
}
.output-section-container pre{
  padding: 1rem;

}
.codeEditor {
  height: 87%;
}
.problem-page-header {
  height: 10vh;
}

.stick-top-of-container {
  display: flex;
  justify-content: space-between;
}

.stick-top-of-container-2 {
  display: flex;
  justify-content: flex-start;
}

.stick-top-of-container-2,
.stick-top-of-container {
  background-color: var(--tertiary-color);
  padding: 5px;
  min-width: 250px;
  border-radius: 5px;
}

.stick-top-of-container-2 > button,
.stick-top-of-container > div > button {
  border: none;
  background: transparent;
  color: var(--border-color);
  font-weight: 600;
  padding: 5px;
}

.stick-top-of-container-2 > button:hover:not(.clicked),
.stick-top-of-container > div > button:hover:not(.clicked) {
  background-color: var(--border-color);
  color: var(--secondary-color);
  border-radius: 2px;
  transition: background-color 250ms ease-in-out;
}

.stick-top-of-container-2 > button:first-child,
.stick-top-of-container > div > button:first-child {
  border-right: 2px solid var(--border-color);
}

.stick-top-of-container-2 > button.clicked,
.stick-top-of-container > div > button.clicked {
  /* background-color: var(--border-color); */
  font-weight: 700;
  color: var(--highlight-color);
}

.run-button,
.submit-button {
  border: none;
  padding: 5px;
  font-weight: 600;
  width: 100px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid var(--border-color);
}

.run-button {
  margin-right: 20px;
  color: #54d784;
  background-color: var(--secondary-color);
}

.submit-button {
  background-color: #39c56c;
  color: var(--font-color);
}

.run-button:hover {
  background-color: var(--border-color);
}

.submit-button:hover {
  background-color: transparent;
  color: #39c56c;
}

.Test-cases-container {
  height: 80%;
  padding: 0.3rem;
  margin-top: 5px;
  overflow: auto;
}

.test-cases-heading {
  /* background-color: rgba(0, 0, 0, 0.2); */
  font-size: 1.1rem;
  padding: 0.2rem;
  margin: 0;
}
.test-case-input {
  font-size: 1.1rem;
  background-color: var(--tertiary-color);
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
  margin-top: 0.2rem;
}

.submission-list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 90%;
  overflow-y: auto;
  padding: 1rem;
  min-width: 250px;
  color: var(--font-color);
}

.submission-list-header,
.submission-element {
  padding: 0.35rem;
  background-color: var(--tertiary-color);
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submission-element > * {
  flex: 1;
  text-align: center;
}

.submission-list-header {
  font-weight: 700;
  color: var(--font-color);
}

.submission-element:hover {
  background-color: var(--border-color);
  transition: ease;
  cursor: pointer;
}

.wrong-submission,
.correct-submission {
  text-align-last: left;
  font-size: 1rem;
}

.wrong-submission {
  color: rgb(221, 98, 98);
}
.correct-submission {
  color: rgb(88, 201, 88);
}

.date-of-submission {
  text-align: right;
}

.submission-list-loading {
  color: var(--font-color);
  text-align: center;
}

.submission-success-message {
  z-index: 3;
  position: fixed;
  top: 0.3rem;
  left: 40%;
  right: 40%;
  background-color: var(--highlight-color);
  font-weight: 600;
  color: green;
  width: max-content;
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  animation: slide-down 1s ease-in;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  /* right: auto; */
}

@keyframes slide-down {
  0% {
    top: -10%;
  }
  100% {
    top: 0.3rem;
  }
}

.submission-success-message::after {
  margin: 0 -0.7rem;
  margin-bottom: -0.5rem;
  content: "";
  height: 3px;
  background-color: green;
  animation-name: submission-success-loader;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  overflow: hidden;
}

@keyframes submission-success-loader {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}

.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.admin-working-container {
  margin-top: 80px;
  height: max-content;
}

.admin-basic-problem-info {
  display: flex;
  flex-direction: column;
}

div.admin-section-titles {
  margin: 20px 0;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 10px;
  padding: 1rem;
  color: #39c56c;
}

.boiler-and-test-container {
  display: flex;
  gap: 5%;
}

.admin-boiler-monaco-editor {
  width: 36vw;
  height: 400px;
}

.admin-test-monaco-editor {
  width: 56vw;
  height: 400px;
}

.admin-submission-monaco-editor {
  height: 600px;
  width: 90%;
}

.admin-test-cases {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 1rem;
}

div.admin-test-cases input {
  width: 60%;
  font-size: 1.3rem;
  padding: 10px;
}

.admin-basic-problem-credentials {
  display: flex;
  flex-direction: column;
}

.admin-flex-div {
  padding: 0 5%;
  display: flex;
  gap: 5%;
}
.admin-flex-div > * {
  flex: 1;
}

.admin-basic-problem-info input,
.admin-basic-problem-info textarea,
.admin-basic-problem-info select,
.admin-basic-problem-info option,
.admin-basic-problem-info button {
  font-size: 1.1rem;
  color: var(--primary-color);
  background-color: var(--highlight-color);
  padding: 2px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.overview-container {
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
textarea.overview {
  width: 80%;
  margin: 5px auto;
}
.admin-basic-problem-info button {
  margin-left: 5px;
}

.admin-example-container {
  display: flex;
  margin: 5px 0;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  row-gap: 10px;
}

.blinking-item {
  animation: blink infinite ease-in-out 1s !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
  position: relative;
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.8;
  }
}

/* @keyframes rotating-logos {
  0% {
    top: 0;
  }
  100% {
    top: 101vh;
  }
} */

.absolute-top {
  position: absolute;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-section-container {
  position: relative;
  padding-top: 100px;
}

.Auth-message-container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Auth-message {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px !important;
}

.Auth-message::before {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #000;
  border-top: 2px solid white;
  border-left: none;
  animation: rotate 2s linear infinite;
  margin-right: 10px;
}

@keyframes rotate {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.Home-content-container {
  font-family: "Manrope";
}

.hero-text {
  font-size: 100px;
  font-weight: 1200;
  margin-bottom: 0;
}

.second-hero-text {
  display: flex;
  background-color: transparent;
  font-size: 30px;
}

.eng {
  margin-top: 5%;
  padding: 0px 50px;
  gap: 10px;

  background: linear-gradient(114.44deg, #3644db 6.56%, #d15bb2 116.73%);
  border-radius: 100px;
  width: fit-content;
  height: 87px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 87px;
  text-transform: uppercase;

  color: var(--home-exp-bg);
}

.home-hero-container {
  position: relative;
  min-height: 100vh;
  padding: 10rem 7rem;
  border-bottom-right-radius: 15rem 16rem;
  background-color: var(--home-exp-bg);
}

.home-exp-container {
  position: relative;
  min-height: 100vh;
  padding: 10rem 7rem;
  border-top-left-radius: 16rem 15rem;
  border-bottom-left-radius: 16rem 15rem;
  background-color: var(--home-hero-bg);
  color: var(--home-exp-bg);
}

.hero-floating-content {
  text-align: center;
  position: absolute;
  right: 8%;
  bottom: 7rem;
  width: 23%;
  animation: floating 2s linear infinite;
  border: 1px solid transparent;
  padding: 20px;
  border-radius: 10px;
}

.hero-floating-content:hover {
  border-color: var(--home-hero-bg);
}

.home-exp-container > h2 {
  font-size: 6rem;
}
.home-exp-container > p {
  font-size: 2rem;
  margin: 20px 0px;
}
.white {
  background-color: var(--home-hero-bg) !important;
}

.black {
  background-color: var(--home-exp-bg) !important;
}

@keyframes floating {
  0% {
    bottom: 8rem;
  }
  50% {
    bottom: 7rem;
  }
  100% {
    bottom: 8rem;
  }
}

.editor-small-icons {
  height: 15px;
}
.editor-medium-icons{
  height: 24px;
}
.tab-buttons {
  display: inline-flex;
  /* justify-content: center; */
  align-items: center;
  gap: 2%;
}

.editor-header{
  background-color: var(--secondary-color);
  padding: 1px 2%;
}

