* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #111827; */
  background-color: #0f172a;
  background-color: #101820;
  color: #abb2bf;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #d4d4d4;
}
ul.navbar-list {
  position: fixed;
  top: 1px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 97%;
  background-color: #0f172a;
  list-style-type: none;
  border: 2px solid #0e0f13;
  border-radius: 13px;
  animation: slide-in 0.5s ease-in-out;
}

ul.navbar-list li a {
  display: flex;
  color: white;
  padding: 13px 51px;
  border-radius: 13px;
  text-decoration: none;
}

ul.navbar-list li a:hover:not(.active) {
  background-color: #0d9488;
}

.active-navbar-elements {
  background-color: #fee715;
  /* color: #0f172a !important; */
  font-weight: 700;
}

.drop-down-profile-info {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 5rem;
  gap: 1rem;
  padding: 0.4rem 0.2rem;
  position: absolute;
  bottom: -6rem;
}

@keyframes slide-in {
  0% {
    top: -30%;
  }
  100% {
    top: 0%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  border-top: 1px solid black;
}

button:hover,
a:hover,
select:hover {
  cursor: pointer;
}

.display-none {
  display: none !important;
  visibility: hidden !important;
}
.split-pane-layoutCSS {
  height: 100%;
}

.problemSet {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question {
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  border: 1px solid black;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.flex-row {
  display: flex;
}

.editor-testresult {
  overflow-y: auto;
  background-color: rgba(225, 225, 225, 0.1);
  height: 100%;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: wrap;
}

.problem-info {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1rem;
  white-space: pre-wrap;
  word-wrap: break-word;
  height: 93%;
  background-color: #1e293b;
}

.problem-info > * {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.problem-title {
  border-bottom: 1px solid rgba(225, 225, 225, 0.2);
  margin-bottom: 0;
  padding-bottom: 1.5rem;
}

.problem-discription {
  width: inherit;
}

.problem-overview {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5rem;
}

.examples p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
}

.example-overview {
  border-left: 1px solid rgba(225, 225, 225, 0.2);
  padding-left: 0.8rem;
}
.coding-interface {
  height: 90vh;
  padding: 0.3rem;
}

.editor-testcases-container {
  border-radius: 5px;
}

.monaco-editor-container {
  width: 100%;
  border: 1px solid black;
  background-color: #1e293b;
  border-radius: 5px;
  padding: 0 1rem;
}

.editor-config-selects {
  height: 8%;
}
.result-test-case-container {
  /* margin: 1rem; */
  padding: 0.5rem 1rem;
}
.output-section-container {
  overflow-y: auto;
  height: 80%;
  width: 100%;
  background-color: #1e293b;
  border-radius: 3px;
  padding: 1rem;
}

.codeEditor {
  height: 90%;
}
.problem-page-header {
  height: 10vh;
}

.stick-top-of-container {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

.Test-cases-container {
  height: 80%;
  padding: 0.3rem;
  background-color: #1e293b;
  overflow: auto;
}

.test-cases-heading {
  /* background-color: rgba(0, 0, 0, 0.2); */
  font-size: 1rem;
  padding: 0.2rem;
  margin: 0;
}
.test-case-input {
  font-size: 0.9rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2rem;
  border-radius: 0.2rem;
  margin-top: 0.2rem;
}
.description-submission-container {
  box-sizing: border-box;
  height: 100%;
  padding: 0.5rem;
  background-color: #334155;
  border-radius: 5px;
  word-wrap: break-word;
}

.result-test-case-container {
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #334155;
}

.submission-list-header,
.wrong-submission,
.correct-submission {
  padding: 0.35rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.submission-list-header {
  color: #eee;
}

.wrong-submission::before {
  content: "Wong Answer";
}

.correct-submission::before {
  content: "Accepted";
}

.wrong-submission:hover,
.correct-submission:hover {
  /* transform: scale(1.05); */
  background-color: rgba(255, 255, 255, 0.1);
  transition: ease;
  cursor: pointer;
}

.wrong-submission {
  color: rgb(221, 98, 98);
}
.correct-submission {
  color: rgb(88, 201, 88);
}

.submission-list-container {
  position: relative;
  height: 90%;
  overflow-y: auto;
  color: #1e293b;
  font-weight: 800;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.submission-refresh-button {
  /* position: absolute;
  top: 0;
  right: 10px; */
}

.date-of-submission {
  margin: 0;
  color: #eee;
}

.submission-list-loading {
  color: #eee;
  text-align: center;
}

.submission-success-message {
  z-index: 3;
  position: fixed;
  top: 0.3rem;
  left: 40%;
  right: 40%;
  background-color: #d4d4d4;
  font-weight: 600;
  color: green;
  width: max-content;
  padding: 0.5rem 0.7rem;
  display: flex;
  flex-direction: column;
  /* right: auto; */
}

.submission-success-message::after {
  margin: 0 -0.7rem;
  margin-bottom: -0.5rem;
  content: "";
  height: 3px;
  background-color: green;
  animation-name: submission-success-loader;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes submission-success-loader {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.landing-page-container {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.landing-title {
  height: 300px;
  width: 300px;
  padding: 3rem;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.street-light-effect {
  /* animation: street-light 3s ease-in-out infinite; */
}

@keyframes street-light {
  0% {
    border: 4px solid gold;
  }
  25% {
    border: 2px solid gold;
  }
  65% {
    border: none;
  }
  70% {
    border: 3px solid goldenrod;
  }
  100% {
    border: 3px solid gold;
  }
}
